@function randomColor() {
    @return rgb(random(255), random(255), random(255));
}
.flex{
		display: flex;
		height: 1000px;
		flex-direction: row;
		flex-wrap: wrap;
		align-items:top;
		justify-content: space-between;
		align-content: stretch;
		align-items: flex-start;
		>div{
			width: 33%;
			height: #{random(200)}px;
			background-color: green;
		}
		@for $var from 1 to 5 {
			.a#{$var}{
				height: #{random(200)}px;
				background: randomColor();
			}
		}
}