<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="index.css"/>
	</head>
	<body>
		<!-- 给出几个思路：
			1、父盒子高度是根据子盒子（.r）自动变化，所以父盒子的高度不能为固定
			2、.l 高度要等于父盒子高度 
			（定位、flex） -->
		<div class="columnHeight">
			<div class="l">left</div>
			<div class="r">
				<div class="span"></div>
				<div class="span"></div>
				<div class="span"></div>
				<div class="span"></div>
				<div class="span"></div>
				<div class="span"></div>
				<div class="span"></div>
			</div>
		</div>
	</body>
</html>
